html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container { 
  display: flex;
  flex-direction: column; 
  min-height: 100%;
}


.main-content { 
  flex-grow: 1; 
}

img{
   height: 350px!important;
    object-fit: cover!important;
    width: 100%!important;
}